.vote-chart-index {
  position: absolute;
  right: 1px;
  height: 45px;
  width: 45px;
  top: 1px;
  cursor: default;

  @include mediaQuery(600px) {
    height: 35px;
    width: 35px;
  }
}

.vote-chart-details {
  height: 55px;
  cursor: default;
  width: 55px;
}
