$black: #18191a;
$black-gray: #2a2c2f;
$white: #fff;

$themes: (
    dark: (
        nav-bg: $black,
        nav-color: $white,
        nav-selected-bg: $black-gray,
    ),
    light: (
        nav-bg: $white,
        nav-color: $black,
        nav-selected-bg: $white,
    ),
);
