$black: #18191a;
$white: #fff;

$card-imageBorderRadius: 8px;

$themes: (
  dark: (
    general-bg: $black,
    general-color: $white,
    nav-selected-bg: #2a2c2f,
    release-date: #acacac,
    card-border-color: #414141,
    background-image:
      linear-gradient(to right, #17191a 150px, rgba(55, 55, 55, 0.55) 100%),
    shadow-color: black
  ),
  light: (
    general-bg: $white,
    general-color: $black,
    nav-selected-bg: #00000012,
    release-date: #00000099,
    card-border-color: rgba(227, 227, 227, 1),
    background-image:
      linear-gradient(to right, #ffffff 150px, rgba(169, 169, 169, 0.8) 100%),
    shadow-color: #ffffff80
  )
);
