$black: #18191a;
$white: #fff;

$card-imageBorderRadius: 8px;

$themes: (
    dark: (
        general-bg: $black,
        general-color: $white,
        nav-selected-bg: #2a2c2f,
        release-date: #acacac,
        card-border-color: #414141,
    ),
    light: (
        general-bg: $white,
        general-color: $black,
        nav-selected-bg: #00000012,
        release-date: #00000099,
        card-border-color: rgba(227, 227, 227, 1),
    ),
);
