.card {
  width: 150px;
  min-width: 150px;
  margin: 10px 0px;

  @include mediaQuery(450px) {
    width: 100%;
    min-width: 300px;
    border-radius: $card-imageBorderRadius;
    display: flex;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    @include themify($themes) {
      border: 1px solid themed(card-border-color);
    }
  }

  .card-img {
    position: relative;
    padding-top: calc(225 / 150 * 100%);

    @include mediaQuery(450px) {
      height: 140px;
      width: 129px;
      padding-top: unset;
    }

    img {
      cursor: pointer;
      border-radius: $card-imageBorderRadius;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      @include mediaQuery(450px) {
        border-radius: 0;
        border-top-left-radius: $card-imageBorderRadius;
        border-bottom-left-radius: $card-imageBorderRadius;
      }
    }
  }

  .card-body {
    padding: 15px 0px;
    text-align: left;
    width: 100%;

    @include mediaQuery(450px) {
      padding: 10px;
    }

    h2 {
      cursor: pointer;
      font-weight: bolder;
      font-size: 1rem;
    }
    .release-data {
      margin-top: 0.5rem;
      font-size: 0.8rem;
      @include themify($themes) {
        color: themed(release-date);
      }
    }

    .overview {
      margin-top: 20px;
      height: auto;
      display: none;

      @include mediaQuery(450px) {
        display: block;
      }

      p {
        font-size: 0.9em;
        line-height: 1.2em;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
