nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  padding: 10px;
  box-shadow: 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  @include themify($themes) {
    background-color: themed("nav-bg");
  }

  .nav-brands {
    display: flex;
    align-items: center;
    flex-grow: 2;
    @include themify($themes) {
      color: themed("nav-color");
    }
    @include mediaQuery(600px) {
      flex-grow: 0;
    }
    .logo {
      font-size: 3rem;
      cursor: pointer;

      @include mediaQuery(600px) {
        font-size: 2rem;
      }
    }

    .text {
      padding-left: 5px;
      font-size: 1.4rem;
      cursor: pointer;

      @include mediaQuery(600px) {
        display: none;
      }
    }
  }

  .nav-items {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-weight: bolder;
    flex-grow: 3;
    @include mediaQuery(600px) {
      flex-grow: 0;
    }
    .nav-item {
      padding: 5px 15px;
      cursor: pointer;
      text-decoration: none;
      @include themify($themes) {
        color: themed("nav-color");
      }
      @include mediaQuery(600px) {
        font-size: 0.9rem;
      }
    }

    .selected {
      border-radius: 4px;
      @include themify($themes) {
        border-bottom: 2px solid themed(nav-color);
        color: themed(nav-selected-color);
        background-color: themed(nav-selected-bg);
      }
    }
  }

  .nav-theme {
    margin-right: 10px;

    button {
      background: none;
      cursor: pointer;
      border: 0;
      padding: 5px;

      svg {
        transition: color 0.5s ease-in-out;
        @include themify($themes) {
          color: themed("nav-color");
        }
      }

      &:focus {
        outline: none;
      }
    }

    @include mediaQuery(600px) {
      flex-grow: 0;
    }
  }
}
