#infoHeader {
  .bg-image {
    position: absolute;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #2e2e2e;
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 475px;

    .bg-color {
      background-image: linear-gradient(
        to right,
        rgba(14.51%, 14.51%, 14.51%, 1) 150px,
        rgba(21.57%, 21.57%, 21.57%, 0.84) 100%
      );
      height: 100%;
    }
  }

  .container {
    position: relative;
    z-index: 2;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .poster {
    width: 100%;
    max-width: 270px;
    border-radius: 8px;
    transition: filter 0.2s;

    &:hover {
      filter: drop-shadow(2px 4px 6px black);
    }
  }

  .title {
    font-size: 2rem;

    span {
      @include themify($themes) {
        color: themed(release-date);
      }
    }
  }

  .info-group {
    display: flex;
    font-size: 14px;
    margin-top: 4px;
    .release-date {
    }
    .genres {
      position: relative;
      padding-left: 20px;
      &:before {
        content: '\2022';
        left: 6px;
        position: absolute;
        top: 8.1px;
        font-size: 35px;
        line-height: 0;
      }
    }
    .runtime {
      position: relative;
      padding-left: 20px;
      &:before {
        content: '\2022';
        left: 6px;
        position: absolute;
        top: 8.1px;
        font-size: 35px;
        line-height: 0;
      }
    }
  }

  .votechart {
    margin-top: 30px;
    display: flex;
    align-items: center;

    .text {
      padding-left: 10px;
    }
  }
}
